@use "../../../styles/scss/variables" as *;

.container {
  position: fixed;
  z-index: 10000;
  bottom: 40px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition-duration: 0.2s;
}

.isVisible {
  bottom: 40px;
  opacity: 1;
}

@media (min-width: 600px) {
  .container {
    right: 60px;
    bottom: 50px;
  }
}
@media (min-width: 768px) {
  .container {
    right: 80px;
    bottom: 80px;
  }
}
