@use "../../../styles/scss/variables" as *;

.heading {
  font-size: 42px;
  color: #efeeee;
  font-family: $font-heading;
  font-weight: 400;
  background-image: url("/images/heading.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 30%;
  background-size: contain;
  text-shadow: rgb(6, 80, 6) 3px 5px 2px;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 20px 40px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .heading {
    font-size: 52px;
    height: 100px;
  }
}
