* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  /* background: #444; */
  padding-bottom: 30px;
}

button {
  cursor: pointer;
}
.container {
  padding: 0 20px;
  margin: 30px auto 0;
}

@media (min-width: 640px) {
  .container {
    padding: 60px;
    margin: 40px auto 0;
  }
}

@media (min-width: 768px) {
  .container {
    /* max-width: 650px; */
    margin: 40px auto 0;
  }
}

@media (min-width: 1024px) {
  .container {
    /* max-width: 1000px; */
    margin: 60px auto 0;
  }
}

@media (min-width: 1280px) {
  .container {
    /* max-width: 1100px; */
    margin: 80px auto 0;
  }
}
