---
import Heading from "../ui/Heading";
import AboutMeText from "../ui/AboutMeText";
---

<div class="container" id="aboutMe">
  <Heading heading={"ABOUT ME"} />
  <section class="about-section">
    <div class="text-box">
      <AboutMeText client:load />
    </div>
    <div class="image-box">
      <img src="/images/aboutMe.jpg" alt="" />
    </div>
  </section>
</div>

<style lang="scss">
  @use "../../styles/scss/variables" as *;

  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 60px;
    }
  }

  .text-box {
    background: linear-gradient(-45deg, #fff1f2, #fffbeb, #fef3c7);
    border-radius: 20px;
    padding: 40px;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 600;
    color: #444;
    font-family: $font-text, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 2;
    }

    @media (min-width: 1024px) {
      max-width: 520px;
      justify-content: flex-start;
    }
  }

  .image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

    @media (min-width: 1024px) {
      padding-top: 0;
    }
    img {
      width: 320px;

      @media (min-width: 768px) {
        width: 380px;
      }
      @media (min-width: 1024px) {
        width: 450px;
      }
    }
  }
</style>
