---
import Heading from "../ui/Heading";
import AboutMeText from "../ui/AboutMeText";
---

<div class="container">
  <Heading heading={"ABOUT ME"} />
  <section class="about-section">
    <div class="text-box">
      <AboutMeText client:load />
    </div>
    <div class="image-box">
      <img src="/images/aboutMe.jpg" alt="" />
    </div>
  </section>
</div>

<style lang="scss">
  @use "../../styles/scss/variables" as *;

  .about-section {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 30px;
  }

  .text-box {
    padding-top: 40px;
    max-width: 520px;
    font-size: 18px;
    line-height: 1.8;
    font-family: $font-text, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-box {
    img {
      width: 450px;
    }
  }
</style>
