---
import Heading from "../ui/Heading";

// import { isRegistered, registerUser } from "../../../data/users";
// import { isValidEmail } from "../../utils/isValidEmail";

// const errors = { username: "", email: "", password: "" };
// if (Astro.request.method === "POST") {
//   try {
//     const data = await Astro.request.formData();
//     const name = data.get("username");
//     const email = data.get("email");
//     const password = data.get("password");
//     if (typeof name !== "string" || name.length < 1) {
//       errors.username += "Please enter a username. ";
//     }
//     if (typeof email !== "string" || !isValidEmail(email)) {
//       errors.email += "Email is not valid. ";
//     } else if (await isRegistered(email)) {
//       errors.email += "Email is already registered. ";
//     }

//     const hasErrors = Object.values(errors).some((msg) => msg);
//     if (!hasErrors) {
//       await registerUser({ name, email, password });
//       return Astro.redirect("/login");
//     }
//   } catch (error) {
//     if (error instanceof Error) {
//       console.error(error.message);
//     }
//   }
// }
---

<div class="container">
  <Heading heading={"CONTACT"} />
  <section class="contact">
    <img src="/images/mail.svg" alt="" />
    <div class="contact_form" id="contact">
      <form method="POST" action="https://api.staticforms.xyz/submit" id="form">
        <input
          type="hidden"
          name="accessKey"
          value="7a40841d-8f06-4641-814e-b2525e8218ab"
        />
        <input type="text" name="honeypot" style="display: none;" />
        <label>
          <input type="text" name="name" placeholder="Name*" required />
        </label>
        <label>
          <input
            type="email"
            name="email"
            required
            placeholder="Email*"
            required
          />
        </label>

        <label>
          <textarea name="message" placeholder="Message*" required></textarea>
        </label>
        <input
          type="hidden"
          name="redirectTo"
          value="https://sakura-tanaka.netlify.app/src/pages/contact.astro"
        />
        <input type="submit" value="Submit" class="submit-btn" />
      </form>
    </div>
  </section>
</div>

<script>
  const submit = document.getElementById("form");
  const contact: HTMLElement | null = document.getElementById("contact");

  submit?.addEventListener("submit", (e) => {
    e.preventDefault();

    submit && (submit.textContent = "");
    const thanksMessageBox = document.createElement("div");
    thanksMessageBox.classList.add("contact-send");
    thanksMessageBox.innerHTML = `
  
  <p  class="thanks-message">Thank you ! Your message has been send.</p>`;

    submit?.appendChild(thanksMessageBox);
  });

  // const form = document.getElementById("form");

  // form?.addEventListener("submit", async (e) => {
  //   e.preventDefault();
  //   const res = await fetch("/api/handler");

  //   console.log(res);
  //   const data = await res.text();
  //   console.log(data);
  // });
</script>

<style lang="scss">
  @use "../../styles/scss/variables.scss" as *;

  .contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  img {
    width: 300px;
    margin-bottom: 80px;
    animation: bounce 1s infinite;
    filter: sepia(7%) brightness(98%) opacity(93%);
    -webkit-filter: sepia(7%) brightness(98%) opacity(93%);
    -moz-filter: sepia(7%) brightness(98%) opacity(93%);
  }

  .contact_form {
    margin: 100px auto 60px;
    padding: 26px 16px;
    border-radius: 10px;
    box-shadow: $shadow-lg;
    display: flex;
    overflow: hidden;
    width: 90%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    font-family: $font-text;
  }

  label {
    display: block;
    width: 100%;
  }

  input,
  textarea,
  .submit-btn {
    display: block;
    width: 100%;
    border: none;
    padding: 10px 40px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 10px;
  }

  input:focus,
  textarea:focus {
    outline: 3px solid rgba(82, 152, 82, 0.462);
  }

  textarea {
    display: block;
    width: 100%;
    height: 150px;
    resize: none;
  }

  .submit-btn {
    cursor: pointer;
    background-color: rgba(82, 152, 82, 0.462);
    color: #fff;
  }

  .submit-btn:hover {
    background-color: rgba(82, 152, 82);
  }

  .submit-btn:active {
    transform: translate3d(-2px);
  }

  .thanks-message {
    font-size: 20px;
    text-align: center;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @media (min-width: 600px) {
    .contact_form {
      width: 500px;
      margin-bottom: 80px;
      padding: 40px 30px;
      border-radius: 20px;
    }

    img {
      width: 380px;
    }
  }

  @media (min-width: 768px) {
    .contact_form {
      border-radius: 30px;
    }
  }

  @media (min-width: 1024px) {
    .contact {
      flex-direction: row;
    }

    img {
      width: 500px;
    }

    .contact_form {
      width: 40%;
      margin: 100px auto;
      padding: 40px 30px;
    }
  }
  @media (min-width: 1280px) {
  }
</style>
