---
import Heading from "../ui/Heading";
---

<div class="container">
  <Heading heading={"CONTACT"} />
  <section class="contact">
    <div class="contact_form">
      <img src="/images/cherry.jpeg" alt="" />
      <form method="POST">
        <label>
          <input type="email" name="email" required placeholder="Email*" />
        </label>
        <label>
          <input type="text" name="subject" placeholder="Subject" />
        </label>
        <label>
          <textarea name="Message" required placeholder="Message*"></textarea>
        </label>
        <button>Submit</button>
      </form>
    </div>
  </section>
</div>

<style lang="scss">
  @use "../../styles/scss/variables.scss" as *;
  .contact {
  }

  img {
    width: 500px;
  }

  .contact_form {
    margin: 100px auto;
    // border: 3px solid orange;
    border-radius: 30px;
    box-shadow: 6px 10px 12px 8px rgba(255, 166, 0, 0.4);
    display: flex;
    overflow: hidden;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 100px 30px;
    font-family: $font-text;
  }

  input,
  textarea,
  button {
    border: none;

    width: 400px;
    padding: 10px 40px;
    box-shadow: 4px 6px 8px 3px rgba(255, 166, 0, 0.41);
    border-radius: 10px;
  }

  input:focus,
  textarea:focus {
    outline: 3px solid rgba(82, 152, 82, 0.462);
  }
  textarea {
    width: 400px;
    height: 150px;
  }

  button {
    background-color: rgba(82, 152, 82, 0.462);
    color: #fff;
  }

  button:hover {
    background-color: rgba(82, 152, 82);
  }
  button:active {
    transform: translate3d(-2px);
  }
</style>
