---
---

<footer>
  <small>Sakura Tanaka &copy; 2023</small>
</footer>
<div class="bottom-space"></div>
<style lang="scss">
  @use "../../styles/scss/variables.scss" as *;
  footer {
    border-radius: 10px;
    margin: 0 10px;
    padding: 20px 30px;

    height: 200px;
    background: linear-gradient(-45deg, #fff1f2, #fecdd3, #fef3c7, #fffbeb);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  small {
    font-size: 14px;
    color: #444;
    font-family: $font-text;
  }

  .bottom-space {
    height: 10px;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (min-width: 600px) {
    .bottom-space {
      height: 20px;
    }

    footer {
      border-radius: 20px;
      margin: 0 20px;
      height: 300px;
    }
  }

  @media (min-width: 768px) {
    .bottom-space {
      height: 30px;
    }

    footer {
      border-radius: 30px;
      margin: 0 30px;
    }
  }
</style>
