---
import Heading from "../ui/Heading";
import ProjectCard from "../ui/ProjectCard";
---

<div class="project-background">
  <svg
    class="wave-top"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
    ><path
      fill="#fff"
      fill-opacity="1"
      d="M0,192L48,165.3C96,139,192,85,288,58.7C384,32,480,32,576,53.3C672,75,768,117,864,149.3C960,181,1056,203,1152,181.3C1248,160,1344,96,1392,64L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
    ></path></svg
  >
  <div class="container">
    <Heading heading={"PROJECTS"} />
    <section class="projects">
      <div class="project-display display-1"><ProjectCard /></div>
      <div class="project-display display-2"><ProjectCard /></div>
    </section>
  </div>
  <svg
    class="wave-bottom"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
    ><path
      fill="#ffffff"
      fill-opacity="1"
      d="M0,160L48,154.7C96,149,192,139,288,112C384,85,480,43,576,53.3C672,64,768,128,864,181.3C960,235,1056,277,1152,272C1248,267,1344,213,1392,186.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path></svg
  >
</div>
<style lang="scss">
  .wave-top {
    position: absolute;
    top: 0;
  }

  .wave-bottom {
    position: absolute;
    bottom: 0;
  }

  .project-background {
    position: relative;
    margin-top: 150px;
    padding-top: 5px;
    padding-bottom: 150px;
    background: linear-gradient(-45deg, #fff1f2, #fecdd3, #fef3c7, #fffbeb);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .projects {
    padding-top: 100px;
    display: flex;
  }

  .project-display {
    min-height: 800px;
    width: 100%;
    display: flex;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
