@use "../../../styles/scss/variables" as *;
.button {
  margin-top: 10px;
  padding: 2px 8px;
  font-family: $font-display;
  font-size: 18px;
  border: 1px solid #fd9848;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0, 0, 0, 0.1), 0 2px 4px -2px rgb(0, 0, 0, 0.1);
  @media (min-width: 768px) {
    padding: 4px 10px;
    font-size: 20px;
    border: 2px solid #fd9848;
  }
}

.button a:hover {
  color: #222;
}

.button a {
  text-decoration: none;
  color: #666;
}
