@use "../../../styles/scss/variables" as *;

.btn_box {
  margin: 50px auto 0;
  width: 260px;
  background-color: rgba(255, 228, 228);
  border-radius: 8px;
  box-shadow: $shadow-lg;
  border: solid 0.5px #ffc6c6;

  @media (min-width: 768px) {
    width: 300px;
  }
}

.h5 {
  font-size: 12px;
  color: $color-gray-900;
  text-align: center;
  margin-bottom: 5px;
}

.circle_box {
  display: flex;
  justify-content: space-around;
}

.circle {
  width: 15px;
  height: 15px;
  border: none;

  border-radius: 50%;
  box-shadow: $shadow-md;
  .fill {
    background: #ffc6c6;
    border: none;
  }
}

.p {
  display: block;
  font-size: 10px;
  color: $color-gray-900;
}

.length_box {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.green {
  background-color: green;
  height: 5px;
  width: 5px;
}
