@use "../../../styles/scss/variables" as *;

.carousel {
  padding-inline: 10px;

  @media (min-width: 768px) {
    margin: 0 auto;
    padding-inline: 20px;
  }
}

:global(.swiper) {
  padding-bottom: 50px;
  @media (min-width: 540px) {
    padding-bottom: 80px;
  }
}

:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
  border-radius: 100%;
  color: #fd9848;
  border: 0.5px solid #fd9848;
}

:global(.swiper-button-next::after) {
  transform: translateX(-10px) translateY(-120px);
  @media (min-width: 470px) {
    transform: translateX(-10px) translateY(-80px);
  }
  @media (min-width: 768px) {
    transform: translateX(-20px) translateY(-40px);
  }
}

:global(.swiper-button-prev::after) {
  transform: translateX(10px) translateY(-120px);
  @media (min-width: 470px) {
    transform: translateX(10px) translateY(-80px);
  }
  @media (min-width: 768px) {
    transform: translateX(20px) translateY(-40px);
  }
}
