@use "../../../styles/scss/variables" as *;

.carousel {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next {
  --swiper-theme-color: black;
}
.swiper-button-prev {
  --swiper-theme-color: black;
}
.swiper-pagination-bullet {
  --swiper-theme-color: black;
}
