@use "../../../styles/scss/variables" as *;

.header {
  padding: 10px 30px;
  height: 80px;

  @media (min-width: 768px) {
    padding: 10px 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }

  @media (min-width: 1024px) {
    padding: 10px 30px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }
}

.logoContainer {
  margin: 0 auto;
  width: 200px;
  height: 50px;

  @media (min-width: 768px) {
    margin: unset;

    width: 80px;
    height: 40px;
  }

  @media (min-width: 1024px) {
    width: 200px;
    height: 50px;
  }

  img {
    width: 100px;
    margin-inline: auto;

    @media (min-width: 768px) {
      height: 80px;
      object-fit: contain;
      margin-right: auto;
    }

    @media (min-width: 1024px) {
      width: 100px;
      margin-left: 50px;
    }
  }
}

// Hamburger menu
.nav {
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100000;

  @media (min-width: 768px) {
    position: unset;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    @media (min-width: 768px) {
      &:last-child:after {
        right: 39px;
      }

      &:nth-child(2)::after {
        right: 42px;
      }

      &:hover {
        transform: rotate(15deg);
      }
      a {
        font-size: 16px;
        text-decoration: none;
        color: $color-gray-900;
      }
    }
  }
  @media (min-width: 1024px) {
    &::after {
      right: 40px;
    }

    &:not(:first-child)::after {
      right: 53px;
    }

    &:nth-child(2)::after {
      right: 56px;
    }
    a {
      font-size: 20px;
    }
  }
}

.toggler {
  display: none;
}

.hamburger {
  margin-left: auto;
  margin-right: 20px;
  position: relative;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  padding: 0.6rem;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger > div {
  position: relative;
  background: #444;
  height: 2px;
  width: 30px;
  transition: all 0.4s ease;
}

.hamburger > div::before,
.hamburger > div::after {
  content: "";
  position: absolute;
  top: 10px;
  background: #444;
  width: 24px;
  height: 2px;
  transition: all 0.4s ease;
}

.hamburger > div::after {
  top: -10px;
  width: 24px;
}

.toggler:checked + .hamburger > div {
  background: rgba(0, 0, 0, 0);
}

.toggler:checked + .hamburger > div::before {
  top: 0;
  left: 0;
  width: 30px;
  transform: rotate(-45deg);
  background: black;
}

.toggler:checked + .hamburger > div::after {
  top: 0;
  left: 0;
  width: 30px;
  transform: rotate(45deg);
  background: black;
}

.menu {
  width: 100%;
  background: rgba(255, 255, 255, 0.624);
  backdrop-filter: blur(4px);
  position: fixed;
  bottom: -100vh;
  left: 0;
  height: calc(100vh - 80px);
  z-index: 10000;
  transition: all 0.4s ease;

  @media (min-width: 768px) {
    width: 100%;
    background: unset;
    backdrop-filter: unset;
    position: unset;
    height: auto;
    z-index: 10000;
    transition: all 0.4s ease;
    height: 100%;
  }
}

.toggler:checked ~ .menu {
  bottom: 0;
}

body:has(.toggler:checked) {
  overflow: hidden;
}

.menu > div {
  height: 100vh;
  @media (min-width: 768px) {
    height: 100%;
    width: 100%;
  }
}

.menu > div > ul {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 100px;
  visibility: hidden;

  @media (min-width: 768px) {
    visibility: visible;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0;
  }
}

.menu > div > ul > li {
  list-style: none;
  padding: 0.5rem;
  transition: all 0.3s ease;
  font-family: $font-heading;

  @media (min-width: 768px) {
    position: relative;
    display: inline-block;
  }
}

.menu > div > ul > li > a {
  color: $color-gray-900;
  text-decoration: none;
  font-size: 36px;
  font-family: $font-heading;
  position: relative;

  @media (min-width: 768px) {
    font-size: 16px;
    position: relative;
    display: inline-block;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }

  &::before {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url(/images/flower2.png);
    background-size: contain;
    position: absolute;
    right: -54px;
    top: -16px;

    @media (min-width: 768px) {
      display: none;
    }

    &:hover {
      transform: rotate(15deg);
    }
  }

  &::after {
    @media (min-width: 768px) {
      content: "";
      width: 60px;
      height: 60px;
      background-image: url(/images/flower2.png);
      background-size: contain;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 28px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &:last-child::after {
    @media (min-width: 768px) {
      right: 50px;
    }
  }

  &:nth-child(2)::after {
    @media (min-width: 768px) {
      right: 39px;
    }
  }

  &:hover {
    @media (min-width: 768px) {
      transform: rotate(15deg);
    }
  }
}

.toggler:checked ~ .menu > div > ul {
  transition: visibility 0.4s ease;
  transition-delay: 0.1s;
  visibility: visible;
}

.toggler:checked ~ .menu > div > ul > li > a:hover {
  color: orange;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 1024px) {
  li {
    &::after {
      right: 40px;
    }

    &:not(:first-child)::after {
      right: 53px;
    }

    &:nth-child(2)::after {
      right: 56px;
    }
  }
}
