---
import Header from "../components/ui/Header";
import Footer from "../components/sections/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import Projects from "../components/sections/Projects.astro";

import "../styles/general.css";
import "../styles/reset.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Sakura Tanaka</title>
  </head>
  <body>
    <Header />
    <Hero />
    <About />
    <Projects />
    <Contact />

    <Footer />
  </body>
</html>
