@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Caveat&family=Fira+Sans:wght@200;300;400&family=Lilita+One&family=Source+Serif+Pro&display=swap");

$font-display: "Caveat";
$font-heading: "Lilita One";
$font-text: "Fira Sans";

// Color

$color-white: #fff;
$color-gray-100: #ededed;
$color-gray-400: #bdbdbd;
$color-gray-700: #757575;
$color-gray-900: #424242;
