@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Caveat&family=Fira+Sans:wght@200;300;400&family=Lilita+One&family=Source+Serif+Pro&display=swap");

$font-display: "Caveat";
$font-heading: "Lilita One";
$font-text: "Fira Sans";

// Color

$color-white: #fff;
$color-gray-100: #ededed;
$color-gray-400: #bdbdbd;
$color-gray-700: #757575;
$color-gray-900: #424242;

$shadow-md: 0 4px 6px -1px rgb(0, 0, 0, 0.1), 0 2px 4px -2px rgb(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0, 0, 0, 0.1), 0 4px 6px -4px rgb(0, 0, 0, 0.1);
$shadow-2xl: 0 25px 50px -12px rgb(0, 0, 0, 0.25);
