@use "../../../styles/scss/variables" as *;

.card {
  height: 500px;
  border: #ffba08 solid 2px;
  border-radius: 30px;
  margin: 0 auto;
  background-color: $color-white;
  overflow: hidden;
  counter-increment: gallery-cell;
  box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1),
    0 4px 6px -4px rgb(0, 0, 0, 0.1);

  @media (min-width: 540px) {
    height: 550px;
    border: #ffba08 solid 4px;
  }
  @media (min-width: 640px) {
    height: 600px;
    border: #ffba08 solid 4px;
  }

  @media (min-width: 1260px) {
    height: 660px;
  }
  @media (min-width: 1600px) {
    height: 660px;
  }
}

.image {
  width: 100%;
  object-fit: cover;
  background-position-y: top;
  @media (min-width: 540px) {
    height: 50%;
  }
  @media (min-width: 1600px) {
    width: 100%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-weight: 600;
  padding: 14px 12px 0;

  @media (min-width: 640px) {
    padding: 10px 16px;
  }

  @media (min-width: 640px) {
    padding: 4px 12px;
  }

  @media (min-width: 1600px) {
    padding: 8px 20px;
  }
}

.title {
  font-family: $font-display;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 16px;
  }

  @media (min-width: 940px) {
    font-size: 26px;
    margin-bottom: 8px;
  }

  @media (min-width: 1600px) {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

.p {
  display: block;
  font-family: $font-text;
  font-size: 16px;
  line-height: 1.4;
  margin: 10px 5px;

  @media (min-width: 640px) {
    font-size: 18px;
    margin: 4px 2px;
  }

  @media (min-width: 1600px) {
    font-size: 20px;
    margin: 10px 20px;
  }
}

.btn_wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  gap: 20px;
}
